* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
*{
    box-sizing:border-box;
}
body{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.panel{
    color:rgb(51, 51, 51);
    font-weight:100;
}
.logo path{
    pointer-events:none;
    fill:none;
    stroke-linecap:round;
    stroke-width:7;
    stroke:rgb(255, 255, 255);
}
.description{
    text-align:center;
    font-size:1em;
    font-weight:500;
    line-height:1.8rem;
    margin-bottom:1rem;
}
.wechat-group{
    text-align:center;
    padding-bottom:10px;
}
.wechat-group img{
    max-width:220px;
    height:auto;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    width:100%;
}
.welcome-img img{
    width:100%;
}
.bg-gradient-primary{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}
.lead.fs-24.lh-sm.px-md-5.px-xl-15.px-xxl-10.mb-7{
    text-align:center;
}
.c2225{
    padding:10px;
}
header{
    background-color:rgb(255, 255, 255);
}
header .navbar-nav a.nav-link{
    color:rgb(119, 119, 119);
}
header .navbar-nav a.nav-link:hover{
    color:rgb(82, 139, 255);
}
header .navbar-nav .active a.nav-link{
    color:rgb(68, 68, 68);
}
header .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link{
    color:rgb(220, 220, 220);
}
header.bg-dark .navbar-nav a.nav-link:hover{
    color:rgb(82, 139, 255);
}
header.bg-dark .navbar-nav .active a.nav-link{
    color:rgb(255, 255, 255);
}
header.bg-dark .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header + header{
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:rgb(238, 238, 238);
}
.btn{
    padding-top:9px;
    padding-right:12px;
    padding-bottom:9px;
    padding-left:12px;
    background-color:rgb(82, 139, 255);
    color:rgb(255, 255, 255);
    display:inline-block;
    box-sizing:border-box;
    text-decoration-line:none;
    border-top-width:2px;
    border-right-width:2px;
    border-bottom-width:2px;
    border-left-width:2px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-top-color:rgb(82, 139, 255);
    border-right-color:rgb(82, 139, 255);
    border-bottom-color:rgb(82, 139, 255);
    border-left-color:rgb(82, 139, 255);
    border-image-source:none;
    border-image-slice:100%;
    border-image-width:1;
    border-image-outset:0;
    border-image-repeat:stretch;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    height:38px;
    line-height:100%;
}
.btn:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(31, 105, 255);
    border-top-color:rgb(31, 105, 255);
    border-right-color:rgb(31, 105, 255);
    border-bottom-color:rgb(31, 105, 255);
    border-left-color:rgb(31, 105, 255);
}
.c5468{
    padding:10px;
    background-position-x:center;
    background-position-y:center;
    border-radius: 10px;
    width: 100%;
    /*min-width: 950px;*/
}
.c6392{
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.c7815{
    top:-2rem;
    right:-1.9rem;
}
.progress-list .progressbar.line{
    height:8px;
    background-color:rgb(244, 244, 244);
}
.fdb-block{
    font-family:Roboto, sans-serif;
    font-size:16px;
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizelegibility;
    padding-top:100px;
    padding-right:0px;
    padding-bottom:100px;
    padding-left:0px;
    color:rgb(68, 68, 68);
    position:relative;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    background-color:rgb(255, 255, 255);
}
.text-center{
    text-align:center;
}
.fdb-block .text-h1, .fdb-block h1{
    font-size:1.75rem;
    margin-bottom:0.5em;
    margin-top:0.3em;
    font-weight:400;
}
.fdb-block .col-fill-left{
    width:50%;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    z-index:1;
}
a{
    color:rgb(0, 123, 255);
    text-decoration-line:none;
    background-color:transparent;
}
a:hover{
    color:rgb(0, 86, 179);
    text-decoration-line:underline;
}
.c9602{
    /*background-image:url(https://oss.htmlpage.cn/editor/images/bg_c_1.svg);*/
    background-image:url(/img/bg_c_1.svg);
}
.fdb-block .col-fill-right{
    width:50%;
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    z-index:1;
}
.fdb-block .col-fill-right + div{
    position:relative;
    z-index:2;
}
.media-icons a{
    margin-right:12px;
}
.c9862{
    /*background-image:url(https://oss.htmlpage.cn/editor/images/bg_c_2.svg);*/
    background-image:url(/img/bg_c_2.svg);
}
