<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <!-- 引入CSS文件    -->
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body >

<h1 th:text="${title}">Title</h1>
<h2 th:text="${name}">Hello Thymeleaf</h2>
<div id="header">
    <div class="centered-text">
        <h1> Protein Search</h1>
    </div>

    <div class="centered-image">
        <img  th:src="@{/logo/logo_google.png}" alt="Centered Image">
    </div>

</div>
<div id="search-box">
    <form th:action="@{/search}" method="get">
        <input type="text" name="q" th:value="${query}" placeholder="Search Protein Info">
        <input type="submit" value="Search">
    </form>
</div>

<div id="search-results">
    <!-- Display search results here -->
    <h2>搜索结果：</h2>
    <ul th:if="${results != null}">
        <li th:each="result : ${results}" th:text="${result}"></li>
    </ul>
</div>
</body>
</html>